@charset "utf-8";
/* CSS Document */
html {
	min-height: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #464646;
	
	min-height: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.content {
	width: 100%;
	height: calc(100% - 50px);
	position: fixed;
	top: 50px;
	left: 0;
	background-color: #f8f8fc;
	overflow: auto;
}
/*MENU -----------------------------------------------------------------------------------------------------------------------*/
.menu {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #61299e;
	z-index: 100;
}
.menu_table {
	width: 100%;
	vertical-align: middle;
	height: 50px;
}
.menu_table td div {
	display: inline;
	vertical-align: middle;
}
	.menu_icon {
		width: 40px;
		cursor: pointer;
		text-align: right;
	}
		.menu_icon svg {
			width: 30px;
			margin-top: 3px;
		}
			.menu_icon svg:hover {
				opacity: 0.5;
			}
	.page_title {
		font-weight: 500;
		font-size: 25px;
		color: white;
		padding-left: 30px;
		font-family: 'Bangers', cursive;
	}
		.page_title div {
			display: inline-block !important;
		}
.menu_user {
	width: 50%;
	text-align: right;
	padding-right: 15px;
}
	.menu_user svg {
		width: 30px;
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}
		.menu_user svg:hover {
			opacity: 0.5;
		}
.load_bar {
	width: 0;
	height: 3px;
	position: fixed;
	bottom: 0px;
	left: 0;
	background-color: #61299E;
	z-index: 100;
}

.menu_content {
	width: 70%;
	max-width: 350px;
	height: calc(100% - 62.05px);
	overflow: auto;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: -350px;
	box-shadow: 0 0 1.6rem rgba(0,0,0,0.23);
	z-index: 200;
}
.voice_menu {
	width: calc(100% - 20px);
	padding: 20px 0;
	padding-left: 20px;
	font-size: 15px;
	font-weight: 400;
	cursor: pointer;
	color: #878787;
}
	.voice_menu svg {
		width: 25px;
		height: 25px;
		display: inline-block;
		margin-right: 15px;
		margin-top: -3px;
		vertical-align: middle;
	}
.menu_separator {
	width: calc(100% - 40px);
	height: 1px;
	background-color: rgba(0,0,0,0.20);
	margin: 10px 20px;
}
.voice_close {
	width: calc(70% - 20px);
	max-width: 330px;
	color: #951515;
	position: fixed;
	left: -350px;
	bottom: 0;
	background-color: white;
	box-shadow: 0 1.6rem 1.6rem rgba(0,0,0,0.23);
}

/*POPUP INIZIO*/
.filigrana {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.70);
	vertical-align: middle;
	z-index: 995;
}
.popup {
	position: absolute;
	left: calc(50% - 200px);
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	width: 340px;
	padding: 15px 30px 15px 30px;
	border-radius: 3px;
	background-color: #fff;
	z-index: 901;
	/*border: 1px solid #7C7C7C;*/
}
.popup_messaggio {
	margin: 10px auto 50px auto;
	font-size: 15px;
}
.popup_azioni {
	margin: 20px auto 0 auto;
	text-align: right;
}
.popup_azioni_elements {
	text-align: center;
	display: inline-block;
	margin-left: 30px;
	cursor: pointer;
	font-size: 13px;
    padding: 15px;
}
.popup_azioni_elements:hover {
	color: #000;
}
.popup_accept {
	color: #027BD3;
}
.popup_reject {
	color: #951515;
}
/*POPUP FINE*/
.notification_popup {
	display: none;
}
	.notification_box {
		width: 400px;
		height: 150px;
		position: fixed;
		top: 113px;
		right: 10px;
		background-color: white;
		border: 1px solid #c6c6c6;
		/*box-shadow: 0 0 1.6rem #c6c6c6;*/
		z-index: 500;
		overflow-y: auto;
	}

.notification_element {
	width: calc(100% - 20px);
	padding: 5px 10px;
	border-bottom: 1px solid rgba(0,0,0,0.20);
	cursor: pointer;
}
	.notification_contatore {
		width: 380px;
		position: fixed;
		top: 77px;
		right: 10px;
		background-color: rgba(255,255,255,0.97);
		text-align: center;
		font-size: 12px;
		color: #878787;
		padding: 10px;
		z-index: 550;
		border: 1px solid #c6c6c6;
		z-index: 500;
	}
	.notification_espandi {
		width: 380px;
		position: fixed;
		top: 265px;
		right: 10px;
		background-color: rgba(255,255,255,0.97);
		text-align: center;
		font-size: 11px;
		color: #878787;
		padding: 10px;
		z-index: 550;
		text-decoration: underline;
		cursor: pointer;
		border: 1px solid #c6c6c6;
		border-top: none;
		z-index: 500;
	}
		.notification_espandi:hover {
			color: #A9A9A9;
		}
	.notification_triangolo {
		height: 25px;
		position: fixed;
		top: 53px;
		right: 10px;
		/*box-shadow: 0 0 1.6rem #c6c6c6;*/
		z-index: 501;
	}
.notification_element_title {
	width: 100%;
	margin-bottom: 5px;
	font-size: 14px;
}
	.notification_element_title table {
		width: 100%;
	}
	.notification_element_title .text {
		width: calc(100% - 40px);
	}
		.notification_element_title .text div {
			width: 300px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	.notification_element_title .indicator {
		width: 40px;
	}
	.notification_element_title .indicator div {
		width: 10px;
		height: 10px;
		margin: 0 auto;
		border-radius: 50%;
	}
.notification_element_content{
	font-size: 14px;
}
/*ANIMAZIONI DESKTOP*/
@media (min-device-width: 1024px), (min-width: 1024px) {
	.voice_menu {
		transition: 10;
	}
		.voice_menu:hover {
			background-color: #eee;
		}
			.voice_home:hover {
				color: #431278
			}
				.voice_home:hover > svg .cls-1 {
					fill: #431278 !important;
				}
			.voice_struttura:hover {
				color: #1C3AA9;
			}
				.voice_struttura:hover > svg .cls-1 {
					fill: #1C3AA9 !important;
				}
			.voice_planimetrie:hover {
				color: #154E05
			}
				.voice_planimetrie:hover > svg .cls-1 {
					fill: #154E05 !important;
				}
            .voice_utenti:hover {
				color: #541e00
			}
				.voice_utenti:hover > svg .cls-1 {
					fill: #541e00 !important;
				}
			.voice_statistiche:hover {
				color: #ee781e
			}
				.voice_statistiche:hover > svg .cls-1 {
					fill: #ee781e !important;
				}
			.voice_storico:hover {
				color: #951515;
			}
				.voice_storico:hover > svg .cls-1 {
					fill: #951515 !important;
				}
			.voice_setting:hover {
				color: #353535;
			}
				.voice_setting:hover > svg .cls-1 {
					fill: #353535 !important;
				}
}

/*GESTIONE PLANIMETRIE ---------------------------------------------------------------------------------------------------------*/
.header {
	width: calc(100% - 50px);
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
}
	.header svg{
		width: 26px;
		height: 26px;
		margin: 12px 8px;
		cursor: pointer;
	}
		.header svg:hover {
			opacity: 0.5;
		}
	.piano_planimetria {
		display: inline-block;
		vertical-align: top;
		margin-left: 20px;
		font-size: 18px;
		font-weight: bold;
		margin-top: 13px;

	}
	.zoom {
		position: absolute;
		top: 25px;
		right: 20px;
	}
		.slider {
			display: inline-block;
			width: 200px;
			position: relative;
			top: -10px;
		}
		.zoom_percentuale {
			display: inline-block;
			position: relative;
			top: -17px;
			margin-left: 20px;
			font-size: 15px;
		}
			.zoom_percentuale_cifra {
				width: 40px;
				border: none;
				background-color: transparent;
				display: inline;
				margin-right: 5px;
			}

.workspace {
	width: calc(100% - 90px);
	height: calc(100% - 152px);
	position: fixed;
	top: 50px;
	left: 20px;
	background-color: #fff;
	overflow: hidden;
	border: 1px solid #c6c6c6;
	box-shadow: 5px 5px 3px #c6c6c6;
	z-index: 50;
}
	.planimetria {
		position: absolute;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}


.toolbar {
	width: 50px;
	height: calc(100% - 70px);
	position: fixed;
	top: 0;
	right: 0;
	background-color: #464646;
	overflow-y: hidden;
	z-index: 50;
}
	.toolbar_element_content {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}
		.toolbar_element {
			width: 30px;
			height: 30px;
			margin: 20px auto 30px auto;
			cursor: pointer;
		}
			.toolbar_element svg {
				width: 100%;
				height: auto;
			}
				.toolbar_element svg .cls-1 {
					fill: #eee;
				}

		.toolbar_elimina_desktop:hover svg .cls-1 {
			fill: #ca9797;
		}


		.toolbar_layer {
			width: 30px;
			height: 30px;
			background-color: #eee;
			margin: 30px auto;
			cursor: pointer;
			
			background-size: 100% 100%;
			background-position: center;
		}
			.layer_disabled {
				opacity: 0.3;
			}
		.toolbar_separator {
			width: 100%;
			height: 1px;
			background-color: #eee;
			margin: 30px 0;
		}

.select_items {
	width: 100%;
	height: 90px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 50;
}
	.arrow {
		position: absolute;
		top: 0px;
		padding: 20px 10px;
		cursor: pointer;
	}
		.arrow:hover{
			opacity: 0.5;
		}
		.arrow svg {
			width: 30px;
			height: 30px;
		}
		.arrow_left {
			left: 0px;
			display: none;
		}
		.arrow_rigth {
			right: 0px;
		}
	.items {
		width: calc(100% - 100px);
		height: 70px;
		position: absolute;
		top: 0;
		left: 50px;
		overflow: hidden;
	}
		.items_table {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			vertical-align: middle;
			border: 0;
			border-collapse: collapse;
			border-spacing: 0;
		}

			.items_table td {
				border: 0;
				border-collapse: collapse;
				border-spacing: 0;
				padding: 0;
			}
			.item_element {
				width: 60px;
				height: 60px;
				background-size: contain;
				border: 0;
				padding: 0;
				margin: 0 25px;
				background-color: #464646;
			}
				.item_element_mobile {
					opacity: 0.5;
				}
.popup_background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 950;
	background-color: rgba(0,0,0,0.95);
	display: none;
}
.popup_content {
	width: 50%;
	height: 90%;
	position: absolute;
	top: 5%;
	left: 25%;
	z-index: 505;
	background-color: white;
	margin: 0;
	padding: 0;
}
	.popup_menu {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
		.popup_menu table {
			width: 100%;
			border-collapse: collapse;
		}
			.popup_menu table td {
				width: 50%;
				margin: 0;
				padding: 0;
			}
			.popup_menu_element {
				width: 100%;
				padding: 15px 0;
				font-size: 15px;
				text-align: center;
				color: #464646;
				cursor: pointer;
				border-bottom: 1px solid rgba(0,0,0,0.2);
			}
				.popup_menu_element:hover {
				}
				.selected {
					color: #027BD3 !important;
					cursor: default;
					border-bottom: 3px solid #027BD3;
				}
	.popup_contenuto {
		width: calc(100% - 80px);
		height: calc(100% - 211px);
		position: absolute;
		top: 52px;
		left: 0;
		padding: 40px;
		overflow-y: auto;
	}
        /*
		.popup_contenuto table{
			width: 80%;
			margin: 0 auto;
			border:1px solid black;
		}
		.popup_contenuto table td{
			text-align: center;
			border: 1px solid black;
		}
*/

	.popup_option {
		position: absolute;
		bottom: 0;
		left: 0;
		width: calc(100% - 40px);
		padding: 20px;
		text-align: right;
		background-color: white;
		border-top: 1px solid rgba(0,0,0,0.2);
		font-size: 14px;
	}
		.popup_option div {
			display: inline-block;
			margin: 0 0 0 15px;
			padding: 10px 20px;
			cursor: pointer;
		}
			.popup_option div:hover {
				opacity: 0.5;
			}
		.popup_close {
			color: #027BD3;
			display: inline;
		}
		.popup_apply {
			background-color: #027BD3;
			color: white;
		}
.popup_input_box {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
}	
.popup_input_label {
	width: 100%;
	text-align: left;
	color: rgba(0,0,0,0.8);
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 7px;
	font-weight: bold;
}
	.popup_input {
		width: 100%;
		height: 35px;
		border: none;
		color: rgba(0,0,0,0.6);
		border-bottom: 1px solid rgba(0,0,0,0.2);
		background-color: transparent;
		display: inline-block;
	}
		label {
			font-size: 13px;
			margin-left: 10px;
		}

	.popup_input_bottom {
		height: 2px;
		background-color: #027BD3;
		width: 0;
		margin: 0 auto;
		margin-top: -1px;
	}
    .popup_input_err {
        width: 100%;
        text-align: left;
        color: #951515;
        font-size: 12px;
        margin-top: 8px;
    }
    .popup_input_descrizione {
        width: 100%;
        text-align: left;
        color: #027BD3;
        font-size: 10px;
        margin-top: 8px;
    }

/*CHECKLIST*/
.checklist_element {
    width: 100%;
    margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}
    .checklist_element table {
        width: 100%;
        border: none;
        border: 0;
        border-collapse: collapse;
        border-spacing: 0;
        vertical-align: middle;
    }
        .check_nome {
            width: calc(100% - 150px);
            font-size: 12px;
            font-weight: bold;
            text-align: left;
        }
        .check_ok {
            width: 50px;
            text-align: center;
        }
            .check_ok input {
                width: 30px;
            }
            .check_ok input {

            -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;

              border-radius: 50%;
              width: 16px;
              height: 16px;

              border: 2px solid green;
              transition: 0.2s all linear;
              outline: none;
              margin-right: 5px;

              position: relative;
              top: 4px;
            }
                .check_ok input:checked {
                  border: 6px solid green;
                }
        .check_ko {
            width: 50px;
            text-align: center;
        }
            .check_ko input {
                width: 30px;
            }
            .check_ko input {

            -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;

              border-radius: 50%;
              width: 16px;
              height: 16px;

              border: 2px solid red;
              transition: 0.2s all linear;
              outline: none;
              margin-right: 5px;

              position: relative;
              top: 4px;
            }
                .check_ko input:checked {
                  border: 6px solid red;
                }
        .check_na {
            width: 50px;
            text-align: center;
        }
            .check_na input {
                width: 30px;
            }
            .check_na input {

            -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;

              border-radius: 50%;
              width: 16px;
              height: 16px;

              border: 2px solid orange;
              transition: 0.2s all linear;
              outline: none;
              margin-right: 5px;

              position: relative;
              top: 4px;
            }
                .check_na input:checked {
                  border: 6px solid orange;
                }

.item_rappr {
	background-size: contain;
	background-color: #464646;
	position: absolute;
	cursor: pointer;
	display: block;
}

.item_new_element {
	display: none;
	width: 40px;
	height: 40px;
	background-size: contain;
	position: absolute;
	z-index: 995;
	border: 0;
	padding: 0;
	background-color: #464646;
	opacity: 0.8;
}

.popup_resize {
	width: 30%;
	padding: 0px;
	margin: 0;
	position: fixed;
	left: 20px;
	top: calc(100% + 20px);
	background-color: #eee;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	z-index: 850;
}
.popup_resize_title {
	width: calc(100% - 60px);
	font-weight: bold;
	background-color: #464646;
	color: white;
	margin: 0;
	margin-bottom: 40px;
	padding: 20px 30px;
}
.resize_slider {
	width: calc(100% - 60px);
	padding: 0 30px 40px 20px;
}
.resize_value {
	width: 100%;
	-webkit-appearance: none;
	background: transparent;
}
.resize_value::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 36px;
	height: 36px;
	border: 1px solid rgba(0,0,0,0.4);
	background-color: #eee;
	margin-top: -16px; 
	border-radius: 50%;
}
.resize_value::-webkit-slider-runnable-track {
	height: 3px;
	background-color: rgba(0,0,0,0.4);
	border-radius: 1px;
}
.resize_value:focus::-webkit-slider-runnable-track {
	background-color: #464646;
}
/*GESTIONE VERIFICA --------------------------------------------------------------------------------------------------------------------*/
.verifica .workspace {
	/*
	width: calc(100% - 40px);
	height: calc(100% - 80px);
	*/
	width: calc(100% - 90px);
	height: calc(100% - 100px);
	position: absolute;
	top: 50px;
	left: 20px;
}


.modifica, .verifica {
	height: 100%;
	top: 0;
	z-index: 800;
}

.element_badge {
	width: 50%;
	padding-top: 50%;
	border-radius: 50%;
	position: absolute;
	top: -25%;
	left: -25%;
}
	.id_label {
		display: none;
		width: 48px; 
		font-size: 12px;
		padding: 3px 0;
		background-color: #eee;
		border: 1px solid rgba(0,0,0,0.2);
		text-align: center;
		position: absolute;
		top: 100%;
		left: calc( -1 * calc( calc(50px - 100%) / 2) );
	}
/* HOME --------------------------------------------------------------------------------------------------------------------*/
.home_istituto, .home_utente {
	width: 30%;
	height: calc(42.5% - 20px);
	background-color: white;
	border: 1px solid rgba(0,0,0,0.2);
	font-size: 13px;
	color: #1D1D1D;
}
.home_istituto {
	position: absolute;
	top: 5%;
	left: 2%;
}
.home_utente {
	position: absolute;
	top: 52.5%;
	left: 2%;
}
	.home_titolo {
		width: calc(100% - 30px);
		height: calc(30% - 15px);
		padding: 0 15px;
		padding-top: 15px;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 22px;
		color: #eee;
		text-shadow: 2px 0 0 #464646, -2px 0 0 #464646, 0 2px 0 #464646, 0 -2px 0 #464646, 1px 1px #464646, -1px -1px 0 #464646, 1px -1px 0 #464646, -1px 1px 0 #464646;
		font-family: 'Bangers', cursive;
		vertical-align: middle;
		text-align: right;

		background-image: url(../images/sfondo_istituto.jpg);
		background-size: 100% auto;
		background-position: top;

		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
		.home_titolo div {
			position: absolute;
			top: calc(50% - 11px);
		}
	.home_banner_content {
		width: calc(100% - 30px);
		height: calc(70% - 40px);
		padding: 20px 15px;
		position: absolute;
		top: 30%;
		left: 0;
		margin: 0 auto;
		overflow-y: auto;
	}
		.home_subtitle {
			font-weight: bold;
			color: #464646;
			display: inline;
		}
		.istituto_campo {
			margin: 10px auto;
		}
		.utente_campo {
			margin-bottom: 10px;
		}
			.utente_ruolo {
				margin-top: 30px;
				font-size: 15px;
			}

.home_logo {
	width: 61%;
	height: 87%;
	position: absolute;
	top: 5%;
	right: 2%;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.2);

	background-image: url(../images/credits2.jpg);
	background-size: 90% auto;
	background-position: center;
	background-repeat: no-repeat;
}
/* GESTIONE SCUOLA -----------------------------------------------------------------------------------------------------------*/
.edifici {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    position: relative;
	padding-bottom: 85px;
}
    .edificio {
        width: 250px;
        display: inline-block;
        margin: 20px auto 30px auto;
        vertical-align: top;
        cursor: pointer;
    }
	.new_edificio {
		position: fixed;
		z-index: 200;
	}
        .edificio:hover {
            opacity: 0.6;
        }
        .edificio_icona {
            width: 60%;
            padding-top: 60%;
            margin: 0 auto;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0,0,0,0.6);
            background-size: cover;
        }
			.no_selectable {
				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none; /* Safari */
				-khtml-user-select: none; /* Konqueror HTML */
				-moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
			}
            .edificio_icona img {
                width: 100%;
            }
        .edificio_titolo {
            width: 80%;
            text-align: center;
            font-size: 18px;
            letter-spacing: 1px;
            margin: 10px auto;
			
			-webkit-user-select: none; /* Safari 3.1+ */
			-moz-user-select: none; /* Firefox 2+ */
			-ms-user-select: none; /* IE 10+ */
			user-select: none; /* Standard syntax  */
        }
.add_edificio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 30px;
    background-color: #1c3aa9;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    cursor: pointer;
}

    .popup_edificio_background {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 900;
        background-color: rgba(0,0,0,0.8);
        display: none;
    }
        .popup_edificio {
            width: calc(70% - 80px);
            height: calc(90% - 40px);
            padding: 20px 40px;
            position: absolute;
            top: 5%;
            left: 15%;
			z-index: 901;
            background-color: #fff;
        }
            .popup_edificio_nome {
                position: absolute;
				top: 0;
				left: 0;
				width: calc(100% - 60px);
				padding: 30px 30px 10px 30px;
				/*border-bottom: 1px solid rgba(0,0,0,0.2);*/
				color: black;
				font-size: 18px;
				font-weight: 800;
            }

				.popup_edificio_nome svg {
					width: 15px;
					height: 15px;
					margin-left: 10px;
					cursor: pointer;
				}
					.popup_edificio_nome svg .cls-1 {
						fill: #027BD3;
					}
					.popup_edificio_nome svg:hover {
						opacity: 0.5;
					}
			.popup_edificio_content {
				position: absolute;
				top: 64px;
				left: 0;
				width: calc(100% - 60px);
				height: calc(100% - 157px);
				padding: 10px 30px;
				overflow-y: auto;
			}
			.popup_edificio_piano_box {
				width: calc(100% - 10px);
				padding: 10px 0;
				padding-left: 10px;
				cursor: pointer;

			}
				.popup_edificio_piano_box:hover {
					background-color: rgba(0,0,0,0.05);
				}
				.popup_edificio_piano_box div {
					display: inline-block;
					vertical-align: middle;
				}
				.popup_edificio_piano {
					width: calc(100% - 40px);
					font-size: 14px;
					touch-action: none;
				}
					.popup_edificio_piano:hover {
						color: #027BD3;
					}
				.popup_edificio_piano_menu {
					width: 40px;
					height: 15px;
					text-align: center;
				}
					.popup_edificio_piano_menu svg {
						width: auto;
						height: 100%;
					}
					.popup_edificio_piano_menu:hover svg#context_menu .cls-1  {
						fill: #027BD3;
					}
			.popup_edificio_option {
				position: absolute;
				bottom: 0;
				left: 0;
				width: calc(100% - 60px);
				padding: 30px;
				text-align: right;
				background-color: white;
				border-top: 1px solid rgba(0,0,0,0.2);
				font-size: 14px;
			}
				.popup_edificio_option div {
					display: inline-block;
					margin: 0 0 0 15px;
					padding: 10px 20px;
					cursor: pointer;
				}
					.popup_edificio_option div:hover {
						opacity: 0.5;
					}
				.popup_edificio_close {
					color: #027BD3;
					display: inline;
				}
				.popup_edificio_add {
					background-color: #027BD3;
					color: white;
				}
.popup_upload_img {
	width: 100%;
	padding: 70px 0;
	margin: 60px auto;
	border: 1px solid rgba(0,0,0,0.2);
}
.button_popup_upload_img {
	width: 80px;
	margin: 0 auto;
	cursor: pointer;
}
	.button_popup_upload_img svg {
		width: 100%;
		height: 100%;
	}
		.button_popup_upload_img svg .cls-1 {
			fill: rgba(0,0,0,0.4);
		}
		.input_popup_upload_img:hover + .button_popup_upload_img svg .cls-1 {
			fill: #027BD3;
		}
	.label_upload {
		width: 100%;
		text-align: center;
		margin-top: 10px;
		font-size: 13px;
	}
.input_popup_upload_img {
	width: 80px;
	height: 80px;
	position: absolute;
	left: calc(50% - 40px);
	opacity: 0;
	cursor: pointer;
}

.context_menu {
	position: fixed;
	width: 250px;
	background-color: white;
	box-shadow: 0 0 2px rgba(0,0,0,0.6);
	border: 1px solid rgba(0,0,0,0.2);
	z-index: 910;
}
	.context_menu_voice {
		width: calc(100% - 20px);
		padding: 10px 10px;
		font-size: 13px;
		color: #464646;
		cursor: pointer;
	}
		.context_menu_voice:hover {
			background-color: rgba(0,0,0,0.05);
		}
		.context_menu_voice_delete{
			color: #951515;
		}
	.context_menu_separator {
		width: 100%;
		height: 1px;
		background-color: rgba(0,0,0,0.2);
	}
.delete_edificio_icon {
	width: 80px;
	height: 80px;
	position: fixed;
	bottom: -80px;
	left: calc(50% - 40px);
	z-index: 150;
	opacity: 0.8;
}
	.delete_edificio_icon svg {
		width: 100%;
		height: 100%;
		-webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.4));      
    	filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.4));  
	}
.loading_gif {
    width: 100%;
    height: 100px;
    position: relative;
    top: calc(50% - 50px);
    left: 0;
    text-align: center;
}
    .loading_gif img {
        width: 100px;
        height: 100px;
    }
/* UTENZE --------------------------------------------------------------------------------------------------------------------*/
.utenti_box {
	width: 60%;
	height: calc(100% - 134px);
	position: absolute;
	top: 40px;
	left: 20%;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.2);
}
.utenti_search {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.utenti_input {
	width: calc(100% - 81px);
	height: calc(100% - 1px);
	padding: 0 15px;
	border: 0px;
}
.utenti_search_button {
	width: 50px;
	height: 100%;
	opacity: 0.5;
	float: right;
	background-image: url(../images/search.png);
	background-size: 40% auto;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	border-left: 1px solid rgba(0,0,0,0.4);
}
.utenti_search_button:hover {
	opacity: 1;
	border-left: 1px solid rgba(0,0,0,0.2);
}

.utenti_list {
	width: 100%;
	height: calc(100% - 50px);
    overflow: auto;
}
	.utenti_list_table {
		width: 100%;
		border-collapse: collapse;
	}
		.utenti_list_table td {
			width: calc(25% - 50px);
			height: 40px;
			padding-left: 20px;
			vertical-align: middle;
			font-size: 12px;
		}
			.table_cell_dark {
				background-color: #f4f4f4;
			}
			.utenti_table_livello {
				text-transform: uppercase;
				font-weight: 600;
			}
				.utenti_table_caption_action, .utenti_table_action {
					width: 30px;
                    padding-left: 0;
                    text-align: center;
				}
                .utenti_table_action {
					cursor: pointer;
				}
                    .utenti_table_action svg {
                        width: auto;
                        height: 30%;
                    }
                        .utenti_table_action:hover svg#context_menu .cls-1  {
                            fill: #154E05;
                        }
		.utenti_list_caption {
			background-color: #541e00;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
		}
.popup_utenti_background {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 900;
        background-color: rgba(0,0,0,0.8);
        display: none;
    }
        .popup_utenti {
            width: calc(50% - 80px);
            height: calc(90% - 40px);
            padding: 20px 40px;
            position: absolute;
            top: 5%;
            left: 25%;
			z-index: 901;
            background-color: #fff;
        }
            .popup_utenti_nome {
                position: absolute;
				top: 0;
				left: 0;
				width: calc(100% - 60px);
				padding: 30px 30px 10px 30px;
				/*border-bottom: 1px solid rgba(0,0,0,0.2);*/
				color: black;
				font-size: 18px;
				font-weight: 800;
            }
			.popup_utenti_content {
				position: absolute;
				top: 64px;
				left: 0;
				width: calc(100% - 60px);
				height: calc(100% - 157px);
				padding: 10px 30px;
				overflow-y: auto;
			}
			.popup_utenti_option {
				position: absolute;
				bottom: 0;
				left: 0;
				width: calc(100% - 60px);
				padding: 30px;
				text-align: right;
				background-color: white;
				font-size: 14px;
			}
				.popup_utenti_option div {
					display: inline-block;
					margin: 0 0 0 15px;
					padding: 10px 20px;
					cursor: pointer;
				}
					.popup_utenti_option div:hover {
						opacity: 0.5;
					}
				.popup_utenti_close {
					color: #027BD3;
					display: inline;
				}
				.popup_utenti_add {
					background-color: #027BD3;
					color: white;
				}
.add_utente {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 15px 30px;
    background-color: #541e00;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    cursor: pointer;
}
